p {
    text-align: justify;
}

img {
    display: block;
    margin: auto;
}

hr {
    margin-top: 15px;
}

tbody {
    font-family: var(--mono-font);
    font-weight: normal;
}

.gc-logo {
    display: inline;
    vertical-align: middle;
    width: 25px;
    margin-right: 5px;
}

.caption {
    margin-top: 15px;
    text-align: center;
    font-size: 0.85em;
}

.frame {
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;

    padding: 15px;

    backdrop-filter: brightness(85%);
    border-radius: 10px;
}

.frame *:first-child {
    margin-block-start: 0px;
}

.frame *:last-child {
    margin-block-end: 0px;
}